{% extends 'admin.html' %} 
{% block content %}
<h1 style="text-align: center;">Sales Statistics</h1>
        <br>
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Availability</th>
              <th>Owner Name</th>
              <th>Remove Button</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.category.name }}</td>
              <td>{{ product.quantity }}</td>
              <td>{% if product.quantity > 0 %}Available{% else %}Out of stock{% endif %}</td>
              <td>{{ product.owner.first_name }}</td>
              <td><div class="buttons">
                <a
                  href="{% url 'delete_product'  product.name %}"
                  class="btn btn-danger"
                  >Remove</a
                >
              </div></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}