<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
    </style>
</head>
<body class="bg-gray-100">
    <h1 class="text-3xl font-bold text-center mt-8 mb-4">Welcome, {{ owner_data.first_name }}</h1>
    <h2 class="text-xl font-semibold text-center mb-4">Products Uploaded by You:</h2>
    <div class="flex flex-col justify-center ml-8">
        <a href="/home" class="bg-blue-500 text-white py-3 px-6 rounded-lg mb-4 text-center hover:bg-blue-600 transition duration-200">Statistics</a>
        <a href="{% url 'add_product' %}" class="bg-green-500 text-white py-3 px-6 rounded-lg text-center hover:bg-green-600 transition duration-200">Add Product</a>
    </div>
    <div class="container mx-auto flex justify-center">
        <div class="grid grid-cols-3 gap-8">
            {% for product in owner_products %}
            <div class="bg-white p-6 rounded-lg shadow-md">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full mb-4 rounded-lg">
                <h3 class="text-xl font-semibold mb-2">{{ product.name }}</h3>
                <p class="text-gray-700">{{ product.description }}</p>
                <p class="text-gray-700">Price: ${{ product.price }}</p>
                <p class="text-gray-700">Quantity: {{ product.quantity }}</p>
                <p class="text-gray-700">Category: {{ product.category.name }}</p>
            </div>
            {% endfor %}
        </div>
       
    </div>
</body>
</html>
