<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Products</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 300px ; height:250px}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}
    </style>
</head>
<body>

<div class="items" >
    <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img src="images/img-1.jpg">
                        </a>
                        <span class="product-discount-label">-23%</span>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                        <a href="" class="add-to-cart">Add to Cart</a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Women's Blouse Top</a></h3>
                        <div class="price">$53.55 <span>$68.88</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img src="images/img-2.jpg">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                        <a href="" class="add-to-cart">Add to Cart</a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Men's Jacket</a></h3>
                        <div class="price">$75.55</div>
                    </div>
                </div>
            </div>
        </div>
    {% for product in products %}
  
                    <img class="img-fluid img-responsive rounded product-image" src="{{ product.image.url }}">
                    
                        <h5>{{ product.name }}</h5>
                        {{ product.owner }}
                        {{ product.description }}
                    
                            {{ product.price }}{{ product.price }}
                      
   
        {% endfor %}
    
</div>

<!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
