<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Your additional CSS can go here if needed */
    </style>
</head>
<body>
    <a href="/home" class="button">Back</a>
    <div class="container">
        <h1 class="text-center">All Orders and Product Details</h1>
        {% for order in orders %}
            <div class="row">
                <div class="col-md-6">
                    <h2>Order Details</h2>
                    <p>Order ID: {{ order.order_id }}</p>
                    <p>Product: {{ order.product.name }}</p>
                    <p>Quantity: {{ order.quantity }}</p>
                    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal{{ order.order_id }}">
                        View Product Details
                    </button>
                    
                </div>
            </div>
            <hr>
            
            <div class="modal fade" id="orderModal{{ order.order_id }}" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="orderModalLabel">Product Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Product Name: {{ order.product.name }}</p>
                            <p>Quantity: {{ order.quantity }}</p>
                            <p>Product Description: {{ order.product.descriprion }}</p>
                            <p>Price: {{ order.product.price }}</p>
                            <p>Product image: <img src="{{ order.product.image.url }}"  style ="height:50px;width:50px"></p>
                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
